In [ ]:
#1. La instalación de Python así como de Jupiter se facilito mucho con anaconda, razón por la cual lo recomiendo.
#2. El tutorial fue útil, mas sin embargo recomiendo investigar y revisar otras fuentes en línea para absorver un mayor conocimiento de python,
#2. recomiendo el tutorial StatisticsandMachineLearningin Python  de EdouardDuchesnay,TommyLöfstedt,FekiYounes
#3. Los principales aprendizajes generales, es que las opciones de tutoriales, guías y videos es incontable, pero se debe seleccionar con cuidado 
#3. las fuentes, para enfocarse en guías o tutoriales que generen un aprendizaje mas directo e indiscutiblemente como se dice
#3. hay que amarrarse las mangas y practicar, practicar y practicar...

In [2]:
import math

In [4]:
math.sqrt(25)

5.0

In [6]:
math.pi

3.141592653589793

In [8]:
import math as mt

In [10]:
mt.sqrt(25)

5.0

In [19]:
import numpy

In [20]:
from numpy import random

In [23]:
import numpy as np

In [56]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)
np.mean(dataOne)

0.5261121244548149

In [37]:
from math import log10

In [72]:
mt.log10(25)
mt.log10(dataOne[1,1])
mt.isnan(dataOne[1,1])
mt.cos(dataOne[0,0])

import statistics

statistics.mode([5,4,3,6,7,7,5,8,7])

7

In [47]:
a = np.array([1,2,3])
print(type(a))
a

<class 'numpy.ndarray'>

array([1, 2, 3])

In [73]:
#Creo un arreglo 
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2)

b = a[:2, 1:3]
b
print (a[0,1])

2

In [77]:
variableName = 25 

variableName1 = 'I love data science'

print(variableName1)

I love data science

In [79]:
type(variableName)

int

In [83]:
type(variableName1)

variableName = 25.0
type(variableName)

float

In [86]:
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [118]:
#Revisar type casting en Python, el error se debe a que no se puede reslizar una operacion entre un entero y un string.
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [97]:
#Listas, pueden contener elementos de distinto tipo.
list1 = [1,2,3,4]
print(list1[1:3])
print(list1[0:1])
print(list1[0:4])

[2, 3]
[1]
[1, 2, 3, 4]

In [100]:
#Diccionarios
#Son similares a las listas, exepto en que cada valor esta conformado por un par de elementos

tel = {'jack' : 4098, 'sape' : 4139}

tel['jack']

4098

In [103]:
playas1 = {'coyote' : 1992, 'samara' : 1989, 'carrilo' : 1988, 'tamarindo' : 2002, 'caletas' : 2001}
mt.sqrt(playas1['coyote'])

44.63182720884279

In [105]:
mt.pow(playas1['samara'], 2)

3956121.0

In [110]:
factoplayas = mt.factorial(playas1['caletas'])
factoplayas

663586645999371711559196215453322440060051553341966656953844280955782193889107245622946734950324917103060108235392894052625427719648002886058904653686213721500173751170884045150839622396313166360643481634855893158891542385891554663839803000845848615593335944823900103478869155354063472850302069575973734556248109170116522744974097407471281744559075036182546969376118432238853288118989999113051942979141596742488341522328372664565289662218390066616906487352745196317423611564574572456646088911407269160401549526832568940600156128698675034891448628078945138894618033735036712965335385689935962594183417698096789683257085974985636652078848640425566605715725878423347090928540235505507497198356645995688704481313832677106749841899063878534828350448778860226976176341919779831591258356491722214526299084898271516287592029975129110147609326661254344738889654214840673216751740724730117894772027012561514129684315944488853137413019804455692162871546404124288469031953992166301913881100856074124474878454196436318487153178115386479548944067203121269327285146685431966887098726025811354631746710580526741812582256838395601759980965509717199053476767096176353778790995930768559981879834550479878793095340121365051598073921487571260973495176665707303496375524399377416082497952897613274280611822680620885529127372762349388056795622864433085022119921915047475110216523802345049281573004689574497717817716746940628900295707446699489326466034254557886777886944962447120432872268399802676677876041850121708093063905765205009535172006205794197036139291023647944997534006506188498608562468622937554412865570240438646955565908706894238172623908244741472641857962410089822495715014003431049430155951248516014995901724974866995601501865336838150979037692246110224387603041291973790919735394244806911146779219100951529689589138813399967295565625626440802527464644243133223250507361465343606884215911686579685537697137723613970501149637055175824539947852987107772577530345559272629110743230034518422369383944508780669737801142041738327753279187884141723481126525017795122794669658563044971974744464233189126414886563863395560735998768085341163785188790412981442663749558658778150565546449817511913803050130360763480514402578886983018547442402270185322291180729705574278892288891594297516511078390898030664583553177306036160247161959103081688741452585092544110666039736079728130851151456546403819899009579158254522490248240811196852475439456324220871642510059271568783310896096958615336652645254979249349622603483227329493800663967450022397807091000157979212090208249479509295716001926850545814640711003965306179756571968035384658233118487692305620982146774318195474149340193910316940646676888342414155534486560000487907360655039149077967831503067226085871284019567382747300055179879409158164396525377563891957944998286807891448328311165230030635077266475299754588610931983891169387594059460379529874679454688047606352362333155052873792271396778902681551668443232963792955144039927585496344777004001892645572797107683630494440622411375452878988652633378509884533475156848728309012435285897810979509456326868724187659228774037434970748250187549621417086924187620523620246583965573022271842545739356260641491851725520857445369005241687268614233193826734598252422443655623332969412192498051905837086289271740997583328530860011008140838253795115122145788656622414696738717078649459622066448386654957312218917693426022763768834120304932136907936451792600325346473586362484934391452971181026852627778357474713773614522402767518424771543561847620511257332389657833113643589775140406699747701261336807075782089974408926948609656087933542667293183186901845219983803982708760805943519343771707192794593039383909776323435202048829175238996728254027665368796335072997972515122346169289502076366498802758968413901844068124608726011687860004718255453503922911143441536124708867686385631945255034130002595482356085953062076503852799299506294614994830796673074615567909352811865831732189318682958375406280605395867509676302254765290596352500751932277184738434120456471063949174246299966895192954257049714620725500218018118161509697753115751250897067015783644186269091681057853543850339124528572686046424622353578498271469993452518925091630509762511337567152381477694215661948556163501248475481280243116679783989507684815863957378017624154322051974948182807299903503436295171244497792531906394972712393193946166922669154294480504478320067241146983005499171788518273320269423566753860831141915410188676744444007850698575400918901967967768227018856166415442988178661638589202041463142686098722225076074036406141549561707911745180293563272218028787739910428465826207876505565893145111478917604371559950504862413830045830168950343107009698955631934527755398180023568678100829803391708062919118761502672879008170272420854611305353132310095591115825222480512444988441472964511280839275644864548249384279395379216096204277824830105680741178799897903508756675938993816841750957603137855440764365989843069783732243599479475116936695324383729718432056531688942661595324696966575165478008858919021980552074838783129680152712436620864088569171840502007829532726879628653827170717113939791109091436485743915353844700118081066420178372510691751021379825078996235385144051086408437485654853550080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [112]:
mt.isnan(playas1['tamarindo'])

False

In [115]:
#Inicio el desarrollo de los capitulos 3-5 de  Python for Data Science for Dummies

#Comentarios
#Primer comentario

spam = 1 #Segundo Comentario
#Tercer comentario

texto = '#Esto no es un comenrio por que se encuentra entre comillas'

In [117]:
#***Calculadora
2+2

4

In [119]:
50-5*6

20

In [121]:
(50-5*6)/4

5.0

In [123]:
8/5 # Importante notar que las divisiones siempre devuelven un valor de tipo float

1.6

In [125]:
#Para obtener un entero en division utilizo //, para obtener el residuo utilizo %
17/3

5.666666666666667

In [127]:
17//3

5

In [129]:
17%3

2

In [131]:
# resultado + divisor + residuo
5*3+2

17

In [133]:
# Para calcular potencias utilizo **
5**2

25

In [135]:
2**7 # 2 a la potencia de 7

128

In [140]:
# = se utiliza para asignarle un valor a una variable
ancho = 20
alto = 5*9
ancho*alto

900

In [142]:
#Error al utilizar una variable sin definir
n

NameError: name 'n' is not defined

In [144]:
#Cuando se utliza enteros y flotantes, se convierte el tipo a flotante
4*3.75-1

14.0

In [148]:
#Cuando realizo calculos sin variables, el ultimo valor es asignado a la variable _
tax = 12.5/100
price = 100.50
price*tax

12.5625

In [150]:
price+_

213.5625

In [152]:
round(_, 2)

213.56

In [154]:
#***Strings
'huevos revueltos'

'huevos revueltos'

In [157]:
'doesn\'t' # Utilizo \ para ignorar una comilla

"doesn't"

In [159]:
#Tambien se puede utilizar " "
"doesn't"

"doesn't"

In [162]:
'"Yes," they said'

'"Yes," they said'

In [164]:
'\"Yes,\" they said'

'"Yes," they said'

In [166]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [168]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [171]:
s = 'First line.\nSecond line' # Utilizo esto para imprimir en dos lineas
s

'First line.\nSecond line'

In [173]:
print(s)

First line.
Second line

In [175]:
# Para ignorar los \ utilizo r
print('C:\some\name')

C:\some
ame

In [177]:
print(r'C:\some\name')

C:\some\name

In [179]:
#Multiples lineas, para esto utilizo """ """ o ''''''
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [181]:
#Union de strings
3*'un'+'ium'

'unununium'

In [183]:
#Dos strings adiacentes se concatenan
'Py''thon'

'Python'

In [187]:
#Break long strings
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [190]:
#No se puede concatenar un string con una variable sin el operador adecuado
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-190-be7e6e725710>, line 3)

In [191]:
#Si se quiere concatenar una variable y un string se debe utilizar un +
prefix+'thon'

'Python'

In [195]:
#las letras de un string se pueden indexar 
word = 'Python'
word[0]
word[3]

'h'

In [198]:
#Tambien se pueden accesar desde la derecha
word[-5]
word[-6]

'P'

In [201]:
#Tambien se pueden indexar secciones del string
word[0:2]
word[2:5]

'tho'

In [203]:
#Union de la palabra
#This makes sure that s[:i] + s[i:] is always equal to s:
word[:2] + word[2:]

'Python'

In [205]:
word[:3] + word[3:]

'Python'

In [210]:
#Slice
word[:2]# character from the beginning to position 2 (excluded)

'Py'

In [212]:
word[4:] # characters from position 4 (included) to the end, despues de : no lleva nada.

'on'

In [214]:
word[-2:]

'on'

In [217]:
#Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the string results in an error:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [220]:
#If you need a different string, you should create a new one:
'J' + word[1:] # Selecciono las letras desde 1 y las uno a j

'Jython'

In [222]:
word[:2] + 'py' # Selecciono las letras entre 0 y 2 y las uno a py

'Pypy'

In [225]:
#Para conocer la longitud de un string utilizo len
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [3]:
#***Listas
#Lists might contain items of different types, but usually the items all have the same type.
squares = [1,4,9,16,25]
squares

[1, 4, 9, 16, 25]

In [5]:
#Lists might contain items of different types, but usually the items all have the same type.
squares[0]

1

In [7]:
squares[-1]

25

In [9]:
squares[1]

4

In [11]:
squares[-3:]

[9, 16, 25]

In [13]:
#All slice operations return a new list containing the requested elements.
squares[:]

[1, 4, 9, 16, 25]

In [15]:
#Las listas se pueden concatenar
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:
cubes  = [1, 8, 27, 65, 125]
4 ** 3
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [25]:
#You can also add new items at the end of the list, by using the append() method 
cubes.append(216)
cubes.append(7 ** 3)
cubes

[1, 8, 27, 64, 125, 216, 216, 343, 216, 343, 216, 343]

In [58]:
#Agregado y cambio de slicers en listas
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [60]:
letters[2:5] = ['C', 'D', 'E'] #Remplazo los valores
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [61]:
#Elimino valores
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [48]:
#Borro la lista por completo
letters [:] = []
letters

[]

In [62]:
#Longitud de las listas con len
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [2]:
#Se puede aniadar listas dentro de otras listas 
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a,n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [3]:
x[0]

['a', 'b', 'c']

In [4]:
x[0][1]

'b'

In [7]:
#First Steps Towards Programming
## Fibonacci series:
# the sum of two elements defines the next

a, b = 0,1 
while a<10: #The body of the loop is indented: 
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [11]:
i = 256*256
print('El valor de i es', i) #Si no se coloca la coma da error

El valor de i es 65536

In [14]:
a, b = 0, 1
while(a < 1000):
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [123]:
# More Control Flow Tools
#If staments 
x = int (input('Por favor ingrese un entero: '))

Por favor ingrese un entero: 45

In [128]:

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('zero')
elif x == 1:
    print('single')
else:
    print('More')

More

In [16]:
#For staments 
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [19]:
#Range function
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
# To iterate over the indices of a sequence, you can combine range() and len() as follows:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [29]:
print(range(10))#No me da los numeros en lista

range(0, 10)

In [31]:
#Uso de range para suma, lo que hace es sumar 0+1+2+3
sum(range(4))

6

In [129]:
#Break and continue Statements, and else Clauses on Loops
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break 
        else:
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [11]:
 for num in range(2, 10):
        if num % 2 == 0:
            print("Found an even number", num)
            continue
            print("Found a number", num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

In [ ]:
#Pass statement, The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action
while True:
    pass

In [2]:
#Defining Functions, The keyword def introduces a function definition. 
#It must be followed by the function name and the parenthesized list of formal parameters.

def fib(n):    # Serie de Fibonacci
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [3]:
#Declaracion continue
for num in range (2, 10):
    if num % 2 == 0:
        print('Encontre un numero par', num)
        continue
        print('Encontre un numero', num)

Encontre un numero par 2
Encontre un numero par 4
Encontre un numero par 6
Encontre un numero par 8

In [ ]:
#Sentencia pass
while True:
    pass#Espera ocupada hasta una interrupción de teclado (Ctrl+C)

In [1]:
#Definiendo funciones
# La palabra reservada def se usa para definir funciones. Debe seguirle el nombre de la función y la lista de parámetros
#formales entre paréntesis. Las sentencias que forman el cuerpo de la función empiezan en la línea siguiente, y deben estar
#con sangría.

def fib(n): #Escribe la serie de fibonacci hasta n
    """Escribe la serie de Fibonacci hasta n."""
    a, b = 0, 1
    while a < n:
        print(a, end='')
        a, b = b, a+b
        print()

#Ahora llamamos a la funcion que acabamos de definir:
fib(2000)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [3]:
#Renombrando la funcion

f = fib
f(100)

0
1
1
2
3
5
8
13
21
34
55
89

In [21]:
#Función con retorno de una lista con los números de la serie de Fibonacci en lugar de imprimirlo

def fib2(m): # devuelve la serie de fibonacci hasta n
    #"""Devuelve una lista conteniendo la serie de Fibonacci hasta n."""
    result = []
    a, b = 0, 1
    while a < m:
        result.append(a) # añade un nuevo elemento al final de la lista.
        # Equivale a result = result + [a], pero más eficiente.
        a, b = b, a + b
        return result

f100 = fib2(100) # Se llama fib2 para 100
f100 # Se escribe el resultado

[0]

In [30]:
#Mas sobre definicion de funciones
#Se le pueden pasar todos los argumentos o solo uno

def pedir_confirmacion(prompt, reintentos=4, recordatorio='Por favor, intente nuevamente!'):
    while True:
        ok = input(prompt)
        if ok in ('s', 'S', 'si', 'Si', 'SI'):
            return True
        if ok in ('n', 'no', 'No', 'NO'):
            return False
        reintentos = reintentos - 1
        if reintentos < 0:
            raise ValueError('respuesta de usuario inválida')
            print(recordatorio)

In [19]:
#Valores por omision
i = 5

def f(arg=i):
    print(arg)

i = 6 # Omite el 6 por que se definio  i = 5
f()

5

In [22]:
#Acumulacion de datos en una lista con def

def f(a, L=[]):
    L.append(a) #Le agrega 'a' a la lista
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [24]:
#Si no se quiere que el valor por omisión sea compartido entre subsiguientes llamadas
#Palabras claves 
def f(a, L=None):
    if L is None:
        L = []
        L.append(a)
        return L

In [26]:
#Palabras claves como argumentos
#Las funciones también puede ser llamadas usando argumentos de palabras clave (o argumentos nombrados) de la forma
#keyword = value.

def loro(tension, estado='muerto', accion='explotar', tipo='Azul Nordico'):
    print("-- Este loro no va a", accion, end=' ')
    print("si le aplicás", tension, "voltios.")
    print("-- Gran plumaje tiene el", tipo)
    print("-- Está", estado, "!")

loro(1000) # 1 argumento posicional
loro(tension=1000) # 1 argumento nombrado
loro(tension=1000000, accion='VOOOOOM') # 2 argumentos nombrados
loro(accion='VOOOOOM', tension=1000000) # 2 argumentos nombrados
loro('un millón', 'despojado de vida', 'saltar') # 3 args posicionales
loro('mil', estado='viendo crecer las flores desde abajo') # Se debe seguir el orden posicional y despues valores nombrados o dan error

-- Este loro no va a explotar si le aplicás 1000 voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está muerto !
-- Este loro no va a explotar si le aplicás 1000 voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está muerto !
-- Este loro no va a VOOOOOM si le aplicás 1000000 voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está muerto !
-- Este loro no va a VOOOOOM si le aplicás 1000000 voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está muerto !
-- Este loro no va a saltar si le aplicás un millón voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está despojado de vida !
-- Este loro no va a explotar si le aplicás mil voltios.
-- Gran plumaje tiene el Azul Nordico
-- Está viendo crecer las flores desde abajo !

In [28]:
#Diccionarios y tuplas en def

def ventadequeso(tipo, *argumentos, **palabrasclaves): # *Para tuplas, **Para diccionario
    print("-- ¿Tiene", tipo, "?")
    print("-- Lo siento, nos quedamos sin", tipo)
    for arg in argumentos:
        print(arg)
        print("-" * 40)
        for c in palabrasclaves:
            print(c, ":", palabrasclaves[c])

ventadequeso("Limburger", "Es muy liquido, sr.",
             "Realmente es muy muy liquido, sr.",
             cliente="Juan Garau",
             vendedor="Miguel Paez",
             puesto="Venta de Queso Argentino")

-- ¿Tiene Limburger ?
-- Lo siento, nos quedamos sin Limburger
Es muy liquido, sr.
----------------------------------------
cliente : Juan Garau
vendedor : Miguel Paez
puesto : Venta de Queso Argentino
Realmente es muy muy liquido, sr.
----------------------------------------
cliente : Juan Garau
vendedor : Miguel Paez
puesto : Venta de Queso Argentino

In [31]:
# Listas de argumentos arbitrarios
#Cualquier parámetro que suceda luego del *args será 'sólo
#nombrado', o sea que sólo se pueden usar como nombrados y no posicionales.:

def concatenar(*args, sep="/"):
    return sep.join(args)

concatenar("tierra", "marte", "venus")

concatenar("tierra", "marte", "venus", sep=".") # O se usa nombrado o no se nombra, no se nombra.
# No se puede utilizar de forma posicional

'tierra.marte.venus'

In [36]:
#Desempaquetando una lista de argumentos
#Puedo utilizar argumentos como variable de entrada en forma de lista o tupla

list(range(3, 6)) # llamada normal con argumentos separados

args = [3,6]

list(range(*args))# llamada con argumentos desempaquetados de la lista

[3, 4, 5]

In [38]:
#Del mismo modo, los diccionarios pueden entregar argumentos nombrados con el operador **

def loro(tension, estado='rostizado', accion='explotar'):
    print("-- Este loro no va a", accion, end=' ')
    print("si le aplicás", tension, "voltios.", end=' ')
    print("Está", estado, "!")

d = {"tension": "cinco mil", "estado": "demacrado",
    "accion": "VOLAR"}

loro(**d)

-- Este loro no va a VOLAR si le aplicás cinco mil voltios. Está demacrado !

In [40]:
#Expresiones lambda

def hacer_incrementador(n):
    return lambda x: x + n
   
f = hacer_incrementador(42)

f(0)

f(1)

43

In [42]:
#  Another use is to pass a small function as an argument:

pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [45]:
###***Mas sobre listas

frutas = ['naranja', 'manzana', 'pera', 'banana', 'kiwi', 'manzana', 'banana']
frutas.count('manzana')

2

In [47]:
frutas.count('mandarina') # me cuenta los objetos

0

In [49]:
frutas.index('banana') # me da la ubicación del objeto

3

In [51]:
frutas.index('banana', 4) # me da la ubicación del objeto después del indice

6

In [53]:
frutas.reverse()# me oredena en el orden distinto los objetos
frutas

['naranja', 'manzana', 'pera', 'banana', 'kiwi', 'manzana', 'banana']

In [55]:
frutas.append('uva')
frutas

['naranja',
 'manzana',
 'pera',
 'banana',
 'kiwi',
 'manzana',
 'banana',
 'uva',
 'uva']

In [57]:
frutas.sort()
frutas

['banana',
 'banana',
 'kiwi',
 'manzana',
 'manzana',
 'naranja',
 'pera',
 'uva',
 'uva']

In [59]:
frutas.pop()

'uva'

In [60]:
#Usando listas como pilas
# se basa en el concepto, ultimo en entrar, primero en salir
#Se utiliza append() para agregar y pop() para sacar

stack = [3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [61]:
stack.pop()

stack

[3, 4, 5, 6]

In [62]:
stack.pop()
stack.pop()

stack

[3, 4]

In [ ]:
#Usando listas como colas (Queues)
# Se basan en el concepto primero en entrar, primero en salir
#Para implementar una cola, usá collections.deque, fue diseñado para trabajar de forma rápida
#El comando es lista.popleft()

In [66]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry") # llega Terry
queue.append("Graham") # llega Graham
queue.popleft() # el primero en llegar ahora se va

'Eric'

In [68]:
queue.popleft()
queue

deque(['Terry', 'Graham'])

In [83]:
#Comprensión de listas

cuadrados = []
for x in range(10):
    cuadrados.append(x**2)
    
    cuadrados

In [75]:
#Un equivalente

cuadrados = [x ** 2 for x in range(10)]
cuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
#Comprensión 2

[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [84]:
#El equivalente

combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [85]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [87]:
#Comprensión 3
vec = [-4, -2, 0, 2, 4]

In [89]:
# crear una nueva lista con los valores duplicados
[x * 2 for x in vec]

[-8, -4, 0, 4, 8]

In [91]:
# filtrar la lista para excluir números negativos
#Presenta x si los valores de vec son mayores o iguales a 0
[x for x in vec if x >= 0]

[0, 2, 4]

In [93]:
# aplica una función a todos los elementos
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [95]:
# llama un método a cada elemento
frutafresca = [' banana', ' mora de Logan ', 'maracuya ']
[arma.strip() for arma in frutafresca]

['banana', 'mora de Logan', 'maracuya']

In [97]:
# crea una lista de tuplas de dos como (número, cuadrado)
[(x, x ** 2) for x in range(6)] # la tupla debe estar entre paréntesis, sino es un error, notese que al 
                                #agregar parentesis indico que se creen tuplas dentro de la lista.

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [99]:
# aplanar una lista usando comprensión de listas con dos 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
#Las comprensiones de listas pueden contener expresiones complejas y funciones anidadas
from math import pi
[str(round(pi, i)) for i in range(1, 6)] # El valor i me indica cuanto redondeo

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [2]:
#14/02 Listas por comprensión anidadas

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

#La siguiente comprensión de lista transpondrá las filas y columnas:

[[fila[i] for fila in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [5]:
#Forma equivalente a lo anterior

transpuesta = []
for i in range(4):
    transpuesta.append([fila[i] for fila in matrix])

In [6]:
 transpuesta

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [12]:
#Otra forma similar

transpuesta1 = []
for s in range(4): # las siguientes 3 lineas hacen la comprensión de listas anidada
    fila_transpuesta = []
    for fila1 in matrix:
        fila_transpuesta.append(fila1[s])
        transpuesta1.append(fila_transpuesta)

In [13]:
 transpuesta1

[[1, 5, 9],
 [1, 5, 9],
 [1, 5, 9],
 [2, 6, 10],
 [2, 6, 10],
 [2, 6, 10],
 [3, 7, 11],
 [3, 7, 11],
 [3, 7, 11],
 [4, 8, 12],
 [4, 8, 12],
 [4, 8, 12]]

In [14]:
#Otra forma similar pero mas sencilla y eficiente con la función zip
#Procurar utilizar funciones simples y sencillas

list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [15]:
#La instrucción 'del'
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0] # Elimino el valor con ubicación 0

In [17]:
a

[1, 66.25, 333, 333, 1234.5]

In [19]:
del a[2:4] #Eliminamos los valores de 2 a 4, tomar en cuenta que si elimino valores su tamaño va cambiando.

In [21]:
a

[1, 66.25]

In [22]:
del a[:] #Borra toda la lista
a

[]

In [23]:
#También puedo eliminar variables completas

del a

In [24]:
#Tuplas y secuencias

t = 12345, 54321, 'hola!'
t[0]

12345

In [26]:
t

(12345, 54321, 'hola!')

In [28]:
# Las tuplas pueden anidarse:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hola!'), (1, 2, 3, 4, 5))

In [30]:
#Las tuplas son inmutables, por eso da error
t[0] = 11111

TypeError: 'tuple' object does not support item assignment

In [32]:
#pero pueden contener objetos mutables:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [34]:
#Tuplas vacias y de un item
#Las tuplas vacías se construyen mediante un par de paréntesis vacío;
#una tupla con un ítem se construye poniendo una coma a continuación del valor

vacia = ()

In [36]:
singleton = 'hola', # <-- notar la coma al final

In [38]:
len(vacia)# El tamaño de vacia es 0

0

In [40]:
len(singleton)

1

In [42]:
#Sets o conjuntos, Las llaves o la función set() pueden usarse para crear conjuntos
#Los sets solomanejan valores unicos
canasta = {'manzana', 'naranja', 'manzana', 'pera', 'naranja', 'banana'}
print(canasta) # muestra que se removieron los duplicados

{'pera', 'naranja', 'banana', 'manzana'}

In [44]:
canasta

{'banana', 'manzana', 'naranja', 'pera'}

In [46]:
'naranja' in canasta # verificación de pertenencia rápida

True

In [48]:
'banano' in canasta # Retorna false como respuesta ya que no se encuentra el script en el conjunto

False

In [50]:
#Operaciones para las letras únicas de dos palabras
#Con set() creo la lista

a = set('abracadabra')
b = set('alacazam')
a # letras únicas en a

{'a', 'b', 'c', 'd', 'r'}

In [52]:
a - b # letras en a pero no en b

{'b', 'd', 'r'}

In [54]:
a | b # letras en a o en b o en ambas, realiza un joint

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [56]:
a & b # letras en a y en b

{'a', 'c'}

In [57]:
a ^ b # letras en a o b pero no en ambos

{'b', 'd', 'l', 'm', 'r', 'z'}

In [59]:
#Comprension de conjuntos
#Genero un set de las letras en abracadabra pero que no sean abc
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [76]:
#Diccionarios
#Un diccionario es un conjunto no ordenado de pares clave:valor
#Cada clave debe ser unica dentro del diccionario
#Un par de {} crean un diccioanrio vacio
# Las operaciones principales son guardar un valor con una clave y sacar un valor de acuerdo a la clave
#Se puede borrar una clave:valor con del

tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127 #Asi agrego un valor al diccionario

In [77]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [78]:
tel['jack'] #Consulto el valor de jack

4098

In [79]:
tel['sape']

4139

In [80]:
del tel['sape'] #Borro sape

In [83]:
tel['irv'] = 4127 # Agrego un valor al diccionario
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [85]:
#Presenta las claves en el diccionario, diccionario.keys() muestra los claves en el diccionario
list(tel.keys())

['jack', 'guido', 'irv']

In [87]:
tel.keys()

dict_keys(['jack', 'guido', 'irv'])

In [89]:
#Presenta las claves en el diccionario de forma ordenada
sorted(tel.keys())

['guido', 'irv', 'jack']

In [91]:
#Consulta por un valor
'guido' in tel

True

In [93]:
# Consulta si un valor no esta
'jack' not in tel

False

In [95]:
#El constructor dict() crea un diccionario directamente desde secuencias de pares clave-valor:

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [97]:
#Se puede utilizar expresiones para crear diccionarios

{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [99]:

#Claves con cadenas simples

dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [102]:
#Técnicas de iteración en diccionarios

caballeros = {'gallahad': 'el puro', 'robin': 'el valiente'}
for m, u in caballeros.items():# Con items() obtengo la clave y el valor.
    print(m,u)

gallahad el puro
robin el valiente

In [104]:
# Obtención del índice de posición junto a su valor
#I recorre la posicion y v el valor
for i, v in enumerate(['ta', 'te', 'ti']):
    print(i, v)

0 ta
1 te
2 ti

In [105]:
#Iteración sobre dos o mas secuencias al mismo tiempo con zip()

preguntas = ['nombre', 'objetivo', 'color favorito']
respuestas = ['lancelot', 'el santo grial', 'azul']
for p, r in zip(preguntas, respuestas):
    print('Cual es tu {0}? {1}.'.format(p, r))

Cual es tu nombre? lancelot.
Cual es tu objetivo? el santo grial.
Cual es tu color favorito? azul.

In [107]:
#Iteración en reversa, reverse()
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [109]:
#Iteración en orden, sorted()

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [110]:
#Creación de nueva lista

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [112]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [116]:
#Script para cargar un data set
import pandas as pd

cars = pd.read_csv('C:/Users/Frass/Desktop/FRAN BACKUP/FRAN COMPU RESPALDO/CENFOTEC/BIG_DATA/Tema 2/Task 1/cars.csv')

In [117]:
cars

   name of car  speed of car  distance of car
0         Ford             4                2
1         Jeep             4                4
2        Honda             7               10
3          KIA             7               10
4      Toyota              8               14
5          BMW             9               16
6     Mercedes            10               17
7           GM            10               18
8      Hyundai            10               20
9     Infiniti            11               20
10  Land Rover            11               22
11       Lexus            12               24
12       Mazda            12               26
13  Mitsubishi            12               26
14      Nissan            12               26
15         GMC            13               26
16        Fiat            13               28
17    Chrysler            13               28
18       Dodge            13               32
19       Acura            14               32
20        Audi            14               32
21   Chevrolet            14               34
22       Buick            14               34
23        Ford            15               34
24        Jeep            15               36
25       Honda            15               36
26         KIA            16               40
27     Toyota             16               40
28         BMW            17               42
29    Mercedes            17               46
30          GM            17               46
31     Hyundai            18               48
32    Infiniti            18               50
33  Land Rover            18               52
34       Lexus            18               54
35       Mazda            19               54
36  Mitsubishi            19               56
37      Nissan            19               56
38         GMC            20               60
39        Fiat            20               64
40    Chrysler            20               66
41       Dodge            20               68
42       Acura            20               70
43        Audi            22               76
44   Chevrolet            23               80
45       Buick            24               84
46        Jeep            24               85
47       Honda            24               92
48         KIA            24               93
49       Dodge            25              120